body{
    margin: 0;
}

#slide-container{
    position: relative;
    width: 100%;
}

.slide img{
    width: 100%;
}

.arrow{
    position: absolute;
    top: 45%;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 18px;
    border-radius: 50%;
    font-weight: bold;
}

.next{
    right: 10px;
}

.prev{
    left: 10px;
}


.caption{
    background-color: rgba(0, 0, 0, 0.509);
    color: white;
    bottom: 0px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 30px;
    padding: 15px 0px;
}

.slide{
    display: none;
}